apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-deployment
  namespace: full-stack-chatapp
  labels:
    app: backend

spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend

  template:
    metadata:
      labels:
        app: backend

    spec:
      containers:
        - name: backend
          image: agarwalram94136/backend-application:v8
          imagePullPolicy: IfNotPresent

          ports:
            - containerPort: 5001
              name: http

          env:
            - name: MONGO_USER
              valueFrom:
                secretKeyRef:
                  name: chatapp-secrets
                  key: MONGO_INITDB_ROOT_USERNAME

            - name: MONGO_PASS
              valueFrom:
                secretKeyRef:
                  name: chatapp-secrets
                  key: MONGO_INITDB_ROOT_PASSWORD

            - name: PORT
              valueFrom:
                configMapKeyRef:
                  name: chatapp-config
                  key: PORT

            - name: MONGO_HOST
              valueFrom:
                configMapKeyRef:
                  name: chatapp-config
                  key: MONGO_HOST

            - name: MONGO_DB_NAME
              valueFrom:
                configMapKeyRef:
                  name: chatapp-config
                  key: MONGO_DB_NAME

            - name: MONGODB_URI
              value: "mongodb://$(MONGO_USER):$(MONGO_PASS)@$(MONGO_HOST):27017/$(MONGO_DB_NAME)?authSource=admin"

            - name: JWT_SECRET
              valueFrom:
                secretKeyRef:
                  name: chatapp-secrets
                  key: JWT_SECRET

          readinessProbe:
            tcpSocket:
              port: 5001
            initialDelaySeconds: 5
            periodSeconds: 10
            timeoutSeconds: 3
            failureThreshold: 6

          livenessProbe:
            tcpSocket:
              port: 5001
            initialDelaySeconds: 20
            periodSeconds: 20
            timeoutSeconds: 3
            failureThreshold: 6

          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"

