apiVersion: v1
kind: Service
metadata:
  name: frontend-service
  namespace: full-stack-chatapp
spec:
  type: NodePort
  selector:
    app: frontend
  ports:
    - name: http
      protocol: TCP
      port: 80
      targetPort: 80
      nodePort: 30080
